<section  class="column col-between">
  <div>
    <%= render partial:'shared/navbar',
    locals: {lbutton: "back.svg", back_path: user_categories_path, title: "Transaction",  rbutton: :logout} %>

     <div class="card row row-between p-16">
        <span class="row"><span class="icon-20 bold">
      Total: $<%= total_in_catagory(@transcation) %>
      </span></span>
    </div>

    <ul id="category_list" class="mh-185">
      <% if @transcation.empty? %>
       <li class="card text-center">
         <h2>There are no expenses</h2>
       </li>
     <% else %>
      <% @transcation.each do |transaction| %>
        <li class="card">
          <div class="row row-between">
            <div class="column p-8">
              <span class="p-4-8"><%= transaction.name %></span>
              <span class="p-4-8 fs-12px"><%= transaction.created_at.strftime("%d %B %Y") %></span>
            </div>
            <span class="p-8 bold"><%= number_to_currency(transaction.amount) %></span>
          </div>
       </li>
      <% end %>
    <% end %>
  </div>
    <div class="pv-8">
      <%= button_to  "New Transaction", new_user_category_transferce_path, method: :get, class: "btn-full bg-secondary" %>
    </div>
</section>
